.place__title {
  font-size: 34px;
  line-height: 1.1;
  font-weight: bold;
  letter-spacing: -0.005em;
  margin: 0;
}

@media (max-width: 850px) {
  .place__title {
    margin: 0 0 10px;
  }
}

@media (max-width: 550px) {
  .place__title {
    font-size: 20px;
  }
}