.section-title {
  max-width: 410px;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -0.009em;
  margin: 0;
}

@media (max-width: 550px) {
  .section-title {
    font-size: 28px;
  }
}