.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 53px auto 0;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2px;
  max-width: 89.5%;
}

@media (max-width: 768px) {
  .header {
    margin: 30px auto 0;
  }
}