.place__text {
  display: flex;
  margin: 62px 10% 82px 69px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .place__text {
    grid-row: 2/3;
    width: 90%;
    margin: auto;
  }
}