.place__text {
  /* grid-template-columns: minmax(380px, 395px); */
  /* grid-template-rows: repeat(4, max-content); */
  /* gap: 48px 40px; */
  display: flex;
  margin: 62px 10% 82px 69px;
  flex-direction: column;
  align-content: flex-start;
  width: 400px;
  justify-content: space-between
}