.place__paragraph {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 13px;
  line-height: 165%;
  max-width: 370px;
  margin: 19px 0 0;
}

@media (max-width: 550px) {
  .place__paragraph {
    font-size: 11px;
  }
}

@media (max-width: 850px) {
  .place__paragraph {
    max-width: 100%;
  }
}