.place__paragraph {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 13px;
  line-height: 165%;
  max-width: 370px;
  margin: 19px 0 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    margin: 0;
    font-size: 11px;
  }
}