.table {
  margin: 134px auto 124px;
  min-height: 368px;
  max-width: 89.2%;
}

@media (max-width: 850px) {
  .table {
    max-width: 80%;
  }
}

@media (max-width: 620px) {
  .table {
    margin: 80px auto;
  }
}