.place {
  display: grid;
  grid-template-columns: minmax(160px, 640px) minmax(160px, 640px);
  grid-template-rows: minmax(0px, 534px);
  margin: 0 auto;
}

@media (max-width: 850px) {
  .place {
    grid-template-columns: minmax(320px, 640px);
    grid-template-rows: minmax(320px, 550px) minmax(300px, max-content);
  }
}